.image-container {
   position: relative;
   background-image: url('../image/photo.jpg');
   /* filter: brightness(70%) contrast(90%); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% auto;
   /* filter: brightness(70%); */
   /* display: flex; */
   /* justify-content: end; */
   /* align-items: center; */
   /* background-color: red; */
   height: 100vh;
   /* z-index: index -1; */
}
.navbar{
   position: relative;
   background-color: rgba(0, 0, 0, 0.5);
}
.content{
   height: 88vh;
   background-color: rgba(0, 0, 0, 0.3);
}
h1 {
   font-family: 'Dancing Script', cursive;
   text-align: center;
   color: white;
   font-size: 4cm;
   text-shadow: 10px 10px 8px rgba(50, 245, 255, 0.5);
}
.a{
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 40px;
}
.B{
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
}
h3 {
   text-align: center;
   color: skyblue;
   font-size: 3cm;
   text-shadow: 1px 3px 2px black;
}
footer{
   height: 30vh;
   background-color: rgba(0, 0, 0, 0.3);
   margin-top: 20px;
}
.footerLink{
   font-size: 20px;
}
